<% content_for :title do %>Democracy Club dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="General Election" data-end="May 7, 2015 06:00:00"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_leaflets" data-view="Number" data-title="Election Leaflets Uploaded" data-moreinfo="In total" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="leaflets_24_hours" data-view="Number" data-title="Election Leaflets Uploaded Today" data-moreinfo="(In the last 24 hours)" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_cvs" data-view="Number" data-title="CVs Uploaded" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_meet_events" data-view="Number" data-title="Total MeetYourNextMP Events" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="meet_events_remaining" data-view="Number" data-title="Upcoming MeetYourNextMP Events" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tweets_archived" data-view="Number" data-title="Tweets from candidates archived" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="urls_archived" data-view="Number" data-title="URLs archived" data-prefix=""></div>
    </li>


  </ul>
</div>