<% content_for :title do %>Democracy Club dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="General Election" data-end="May 7, 2015 06:00:00" onclick="location.href='https://twitter.com/daystoelection';"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_2015_candidates" data-view="Number" data-title="Candidates" data-moreinfo="known to be standing in 2015" data-prefix="" onclick="location.href='https://yournextmp.com/';"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_leaflets" data-view="Number" data-title="Election Leaflets Uploaded" data-moreinfo="In total" data-prefix="" data-prefix="" onclick="location.href='https://electionleaflets.org/';"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="leaflets_24_hours" data-view="Number" data-title="Election Leaflets Uploaded Today" data-moreinfo="(In the last 24 hours)" data-prefix="" onclick="location.href='https://electionleaflets.org/leaflets/';"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_cvs" data-view="Number" data-title="CVs Uploaded" data-prefix="" onclick="location.href='http://cv.democracyclub.org.uk/';"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_meet_events" data-view="Number" data-title="Total MeetYourNextMP Events" data-prefix="" onclick="location.href='http://meetyournextmp.com/';"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="meet_events_remaining" data-view="Number" data-title="Upcoming MeetYourNextMP Events" data-prefix="" onclick="location.href='http://meetyournextmp.com/';"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tweets_archived" data-view="Number" data-title="Tweets from candidates archived" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="urls_archived" data-view="Number" data-title="URLs archived" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="screenshots_taken" data-view="Number" data-title="Screenshots Taken" data-prefix=""></div>
    </li>

  </ul>
</div>