<% content_for :title do %>Democracy Club dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="General Election" data-end="May 7, 2015 06:00:00"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_leaflets" data-view="Number" data-title="Election Leaflets Uploaded" data-moreinfo="This year" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="leaflets_24_hours" data-view="Number" data-title="Election Leaflets Uploaded" data-moreinfo="In the last 24 hours" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_cvs" data-view="Number" data-title="CVs Uploaded" data-prefix=""></div>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li> -->


  </ul>
</div>